<h1>New Student</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
        <%= message %>
    <% end %>
<% end %>

<%= form_for(@student) do |f| %>
    <%= f.label "Name: " %>
    <%= f.text_field :name %><br>

    <%= f.label "Mod: " %>
    <%= f.number_field :mod, max: 5, min: 1 %>

    <%= f.submit "Submit" %>
<% end %>

